<html>

<head>
    <title>User tasks</title>
</head>

<body>
    <h1>Options</h1>
    <form action="/addtask/">
        <button type="submit">Add new task</button>
    </form>

    {{range .TasksA}}

    <hr>
    <div>
        <h4 id="id">ID:{{ .Id }}</h4>
        <!--h3> ID:{{ .Id }} </h3-->
    </div>
    <div> Title:{{ .Title }}</div>
    <div> Status:{{ .Status }} </div>
    <div> Description:{{ .Description }} </div>
    <div> Date:{{ .Date }}</div>
    <form action="/deltask?id=" enctype="application/x-www-form-urlencoded">
        <button type="submit" name="id" value={{ .Id }}>Delete task</button>
    </form>
    <form action="/edittask?id=" enctype="application/x-www-form-urlencoded">
        <button type="submit" name="id" value={{ .Id }} >Edit task</button>
    </form>
    <hr>
    {{end}}

</body>

</html>